@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

/* Slow Left to Right Smooth Motion */
@keyframes bounce-x {
  0%, 100% {
    transform: translateX(-40%);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateX(40%);
    animation-timing-function: ease-in-out;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);

  /* Duration set to 2.5s for slow movement */
  --animation-bounce-x: bounce-x 2.5s ease-in-out infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}

.banner-down-se{
  position: relative;
  margin-top: -30px;
}